* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    background-color: rgb(204, 201, 201);
    border-radius: 10px;
}

.container h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    color: whitesmoke;
}

.accordian-wrapper {
    padding: 1rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordian {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.accordian .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
    padding: 1rem;
    border-radius: 10px;
}

.accordian .accordian-desc {
    background-color: azure;
    padding: 0.5rem;
    border-radius: 10px;
    display: none;
    transform-origin: top;
    transform: scaleY(100%);
    animation: myAni 0.5s;
}

.accordian.active .heading {
    background-color: rgb(125, 125, 219);
    color: white;
}

.accordian.active .accordian-desc {
    display: block;

}

@keyframes myAni {
    0% {
        transform: scaleY(0);
    }

    
}