* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main{
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(18, 18, 46);

}

.left {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}


 .menu {
    height: 55%;
    width: 40%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
    transition: all 0.5s;
}



li:hover {
    background-color: rgb(18, 18, 46);
    color: white;
    border-radius: 0.5rem;
    padding: 0.7rem;
}


#check {
    display: none;
}

.check-box {
    display: none;
}

@media (max-width:450px) {
    .menu {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 4rem;
        display: flex;
        flex-direction: column;
        left: -500px;
        transition: all 0.5s;
        background-color: lightcoral;
        border-radius: none;padding: 0.5rem;
    }


    .check-box {
        display: block;
        cursor: pointer;
        color: white;
    }

    #check:checked~.menu {
        left: 0%;
    }
}

